.about_page_text{
	margin: 20px;
}

.about_page_text h2{
	margin-bottom: 5px;
}

.about_page_text ul.about-bullets{
	padding-top: 10px;
}

.about_page_text ul.about-bullets li span{
	font-weight: bold;
}

.about_page_image {
	width: 100%;
	background: #fdc32e;
	text-align: center;
}

.about_page_image img{
	margin-top: 50px;
}